<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <title>Sticky Anonymous Report</title>

    <style>
        .container {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        p, h3 {
            font-family: 'Oxygen', sans-serif;
        }

        .banner {
            background-color: #197052;
            color: white;
            padding: 8px
        }
    </style>
</head>
<body>
<div class="container">
    <div class="content">
        <h3 class="banner">Nieuwe DigiDecs voor {{ commission }}</h3>

        <p>
            Naam: {{ name }} <br/>
            Email: {{ email }} <br/>
            Totaalbedrag: {{ value }} <br/>
            Wat: {{ what }} <br/>
            Waarvoor: {{ commission }} <br/>
            Rekeningnummer: {{ iban }} <br/>
            {{#if notes }}
            Opmerkingen:<br/>
            {{ notes }}
            {{/if}}
        </p>
    </div>
</div>
</body>
</html>